body{
    background-color: rgb(219, 219, 219);
}
main{
    margin-left: 10vw;
    margin-right: 10vw;
}

#navtext{
    margin-left: 10vw;
    margin-right: 10vw;

}


.captionshade{
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: -15%;
    margin-right: -15%;
    margin-bottom: -10%;
    padding-bottom: 15%;
}

.iframetarget {
    width: 100%;
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
    resize: both;
    position: relative;
    z-index: 2;
}
  
span{
    color: rgb(158, 0, 0)
}

iframe {
    width: 100%;
    height: auto;
   
}


@media screen and (min-width: 700px) {
   
    #about{
        margin-left: 10%;
        margin-right: 10%;
       
    }
   
}

@media screen and (max-width: 700px) {
   
#about{
    margin-left: 0%;
    margin-right: 0%;
    
    }

    .my-carousel-image{
    width: 100%;
    height: 200px;
    
    }
}
