h2 {
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
    background: url("../images/rightArrow.png") no-repeat left center;
    
    border-radius: 10px;
    
}
h2.down {
    background: url("../images/downArrow.png") no-repeat left center;
    background-color: rgb(195, 195, 240);
}



a {
    color: black;
    text-decoration: none; 
}
a:focus, a:hover { 
	color: black; 
}

main div{
    display: none;
}