html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }

nav {
    background-color: #ffffff;
}

body{
    background: rgb(189, 189, 189)
}

main {
    background: white;
    margin-right: 15vw;
    margin-left: 15vw;
    padding-left: 5vw;
    padding-top: 1vw;
    padding-right: 5vw;
}

form div{
    margin-top:2%;
    margin-bottom: 2%;
}

span{
    color: red;
}

.prev{
    transition: color .2s, background-color .2s; 
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.prev:hover{
    transition: color .2s, background-color .2s; 

    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.next{
    transition: color .2s, background-color .2s; 
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.next:hover{
    transition: color .2s, background-color .2s; 

    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.cycle-slideshow img {
    height: 400px;
    width: 350px;
   size: cover;
}

.centered{
    text-align: center;
}

.rowImages{
  height: 250px;
    object-fit: cover;
    max-height: 100%;
}



#brand{
    margin-left: 10vw; 
    margin-right: -2vw;
}

#branding_image {
    max-height: 70px;
}

#image_list{
    display: none;
}

#ifOther{
    display: none;
}

#ifSpecial{
    display: none;
}

#otherpets{
    font-size: 66%;
    display: none;
}

.myNavLink{
    font-size: 1.5rem;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;;
    color: black;
    font-weight: bold;
    align-content: right;
}

.myNavLink:hover{
    color: black;
    text-decoration: underline;
}



.showTextS {
    display: none;
}

.smallShow{
    display: none;
}

.myNavBorder{
    border-bottom: 2px solid rgb(189, 189, 189);
}


.img-fluid{
    max-height: 400px;
    margin-left: 2vw;
    margin-right: 2vw;
}


@media screen and (max-width: 1300px){

    .largeShow {
        display: none;
    }

    .smallShow{
        display: block;
        size:100vmax;
    }

   
    
    .showTextL {
        display: none;
    }

    .showTextS {
        display: block;
    }

    

}


@media screen and (max-width: 1000px){
    

    .myNavLink{
        margin-left: 13vw;
    }

    .cycle-slideshow img {
        width: 100%;
        height: 100%;
     }

    .verticalRow{
       margin-top: auto;
       margin-bottom: auto;
        
    }
    main {
        background: white;
        margin-right: 3vw;
        margin-left: 3vw;
        padding-left: 5vw;
        padding-top: 1vw;
        padding-right: 5vw;
    
    }
    
}

